$view_height: calc(100vh - 5.875rem - 3.75rem - 1.875rem - (1.33rem * 3));

.lmo-scroll_view {
  height: calc($view_height - 4rem);
}

.lmo-lrc_editor_lrc_view {
  width: 100%;
  height: $view_height;
  margin-top: 1.33rem;
  background: #212126;

  .lmo-lrc_editor_lrc_view_content {
    padding: 0 3.75rem;

    .lmo-lrc_editor_lrc_view_content_header {
      height: 4rem;
      color: #9E9E9E;
      justify-content: space-between;
      line-height: 4rem;
    }

    .lmo-lrc_editor_lrc_view_content_list {
      .lmo-lrc_editor_lrc_view_content_list_item {
        transition: all .3s;
        justify-content: space-between;
        height: 5.25rem;
        line-height: 5.25rem;
        color: #E7E7E7;

        &:hover {
          background: #36363D;
        }
      }

      .lmo-lrc_editor_lrc_view_content_list_item_hover {
        background: #36363D;
      }
    }
  }
}